<!--Pharmacist register page-->

{% extends 'base.html' %}

{% block content %}
    <div class="create_pharmacist">
        <h2> Welcome aboard to Pharma-Send. Revolutionizing communication between doctors and pharmacists!</h2>
        <form class="site_form" method="post" action="pharmacist">
            {% csrf_token %}
            <table>
            {% for field in form %}
            <div class = "form_group">
                {{ field }}
                <label class="form_label" for="{{ field.auto_id }}">{{ field.label }}</label>
            <br>
            </div>
            {% endfor %}
            </table>
            <button type="submit" class = "smallbtn center">Register</button>
        </form>
    </div>
{% endblock %}