<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

  <p> Hi {{ user.username }}! Welcome to the chat service </p>
  <a href="{% url 'logout' %}">
    <button class = "smallbtn">
     Log Out
    </button>
  </a>
  <br>
  <br>
  <br>
  <div class="chat_container" id="id_chat_item_container">

    <div class = "site_form">
        <div class = "form_group">
            <input type = "text" 
                    placeholder = "Enter your message" 
                    id = "id_message_send_input" 
                    class = "form_input" />
            <label class = "form_label" for="id_message_send_input"> Enter your message </label>

        </div>
        <br>
        <button type = "submit" 
                id = "id_message_send_button"
                class = "smallbtn"> 
            Send
        </button>
    </div>

  </div>
  <script>
      if (window.location.protocol == 'https:') {
        wsProtocol = 'wss://'
      } else {wsProtocol = 'ws://'}
      const chatSocket = new WebSocket(wsProtocol + window.location.host + ":443/");
      chatSocket.onopen = function (e) {
        console.log("The connection was setup successfully !");
      };
      chatSocket.onclose = function (e) {
        console.log("Something unexpected happened !");
      };
      document.querySelector("#id_message_send_input").focus();
      document.querySelector("#id_message_send_input").onkeyup = function (e) {
        if (e.keyCode == 13) {
          document.querySelector("#id_message_send_button").click();
          document.querySelector("#id_message_send_input").value = "";
        }
      };
      document.querySelector("#id_message_send_button").onclick = function (e) {
        var messageInput = document.querySelector(
          "#id_message_send_input"
        ).value;
        chatSocket.send(JSON.stringify({ message: messageInput, username : "{{request.user.username}}"}));
        document.querySelector("#id_message_send_input").value = "";
      };
      chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        var div = document.createElement("div");
        div.innerHTML = data.username + " : " + data.message;
        document.querySelector("#id_chat_item_container").appendChild(div);
      };
  </script>

{% endblock %}